<header>
  <h1>Title Casing | TitleCasePipe</h1>
  <h2>The application takes the user input and converts it to title case*.</h2>
</header>
<main>
  <!-- <section>
    <h2>
      Two-way binding. Accesses component field directly (verbose & clunky)
    </h2>
    <h2 [style.paddingLeft]="'1rem'">
      <label>Input field: </label>
      <input
        [(value)]="userInput"
        (keydown.enter)="userInput = $event.target.value; userInputChange()"
        [style.backgroundColor]="'pink'"
        [style.width]="'60%'"
        [style.fontSize]="'1.5rem'"
        [style.fontFamily]="'Courier Headline'"
      />
    </h2>
  </section>

  <section>
    <h2>
      Two-way binding. Use (import) BrowserModule, FormsModule & ngModel.
    </h2>
    <h2 [style.paddingLeft]="'1rem'">
      <label>Input field: </label>
      <input
        [(ngModel)]="userInput"
        [style.backgroundColor]="'pink'"
        [style.width]="'60%'"
        [style.fontSize]="'1.5rem'"
        [style.fontFamily]="'Courier Headline'"
      />
    </h2>
  </section> -->
  <!-- 
					Can't bind to 'ngModel' since it isn't a known property of 'input'.
					ngModel is in forms module. forms module is not automatically imported.
					Need to import the FormsModule from @angular/forms and add it to the imports section in app.modules.ts.
    -->
  <section>
    <h2 [style.margin]="'1rem 0 0 0'">
      Uses the custom pipe TitleCasePipe (keyword: titlecase).
    </h2>
    <div
      [style.color]="'indianred'"
      [style.fontFamily]="'Comic Sans Ms'"
      [style.paddingLeft]="'1rem'"
    >
      {{
        "Text modified by TitleCasePipe is displayed in light red and Comic Sans Ms"
          | titlecase
      }}
    </div>
    <p></p>
    <h2 [style.paddingLeft]="'1rem'">
      <table [style.width]="'95%'">
        <tbody>
          <tr>
            <td
              [style.fontSize]="'1.2rem'"
              [style.width]="'30%'"
              [style.border]="'thin solid gray'"
            >
              2-way Binding<br />
              (verbose)
            </td>
            <td [style.width]="'70%'" [style.border]="'thin solid gray'">
              <input
                [(value)]="userInput"
                (keydown.enter)="
                  userInput = $event.target.value; userInputChange()
                "
                [style.backgroundColor]="'pink'"
                [style.width]="'98%'"
                [style.fontSize]="'1.5rem'"
                [style.fontFamily]="'Arial Narrow'"
              />
            </td>
          </tr>
          <tr>
            <td
              [style.fontSize]="'1.2rem'"
              [style.width]="'30%'"
              [style.border]="'thin solid gray'"
            >
              2-way Binding<br />
              With ngModel.
            </td>
            <td [style.width]="'70%'" [style.border]="'thin solid gray'">
              <input
                [(ngModel)]="userInput"
                [style.backgroundColor]="'pink'"
                [style.width]="'98%'"
                [style.fontSize]="'1.5rem'"
                [style.fontFamily]="'Arial Narrow'"
              />
            </td>
          </tr>
          <tr>
            <td [style.fontSize]="'1.2rem'" [style.border]="'thin solid gray'">
              | titlecase: minorWords
            </td>
            <td
              [style.border]="'thin solid gray'"
              [style.color]="'indianred'"
              [style.fontFamily]="'Comic Sans Ms'"
            >
              {{ userInput | lowercase | titlecase: minorWords }}
            </td>
          </tr>
          <tr>
            <td [style.fontSize]="'1.2rem'" [style.border]="'thin solid gray'">
              | titlecase no parms
            </td>
            <td
              [style.border]="'thin solid gray'"
              [style.color]="'indianred'"
              [style.fontFamily]="'Comic Sans Ms'"
            >
              {{ userInput | lowercase | titlecase }}
            </td>
          </tr>
        </tbody>
      </table>
    </h2>
  </section>
</main>
<footer>
  <p [style.paddingLeft]="'1rem'">
    Title case explained: <br />
    *
    {{ titleCaseExplained }}
  </p>
  <p [style.paddingLeft]="'1rem'">
    Title case explained in TitleCasePipe passing minorWords array: <br />
    *
    <span [style.color]="'indianred'" [style.fontFamily]="'Comic Sans Ms'">
      {{ titleCaseExplained | lowercase | titlecase: minorWords }}
    </span>
  </p>
  <p [style.paddingLeft]="'1rem'">
    Title case explained in TitleCasePipe passing no parms: <br />
    *
    <span [style.color]="'indianred'" [style.fontFamily]="'Comic Sans Ms'">
      {{ titleCaseExplained | lowercase | titlecase }}
    </span>
  </p>
  <div>
    Minor words from title-casing component:
    <span *ngFor="let minorWord of minorWords"> {{ minorWord }} </span>
  </div>
</footer>
